<a href="https://colab.research.google.com/github/zzozzo/Datathon/blob/main/ohjihoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
import pandas as pd

policy = pd.read_csv('/content/drive/MyDrive/aiffeldata/coviddb/Policy.csv')
policy

,policy_id,country,type,gov_policy,detail,start_date,end_date
0,1,Korea,Alert,Infectious Disease Alert Level,Level 1 (Blue),2020-01-03,2020-01-19
1,2,Korea,Alert,Infectious Disease Alert Level,Level 2 (Yellow),2020-01-20,2020-01-27
2,3,Korea,Alert,Infectious Disease Alert Level,Level 3 (Orange),2020-01-28,2020-02-22
3,4,Korea,Alert,Infectious Disease Alert Level,Level 4 (Red),2020-02-23,NaN
4,5,Korea,Immigration,Special Immigration Procedure,from China,2020-02-04,NaN
...,...,...,...,...,...,...,...
56,57,Korea,Transformation,Logistics center,On-site inspection of major logistics faciliti...,2020-05-29,2020-06-11
57,58,Korea,Transformation,Wearing of masks,"Mandatory wearing of passenger mask domestic, ...",2020-05-27,NaN
58,59,Korea,Transformation,Wearing of masks,Drivers such as buses and taxis can refuse to ...,2020-05-26,NaN
59,60,Korea,Technology,KI-Pass: Korea Internet - Pass,new quick response (QR) code system this week ...,2020-06-10,NaN
60,61,Korea,Health,Extends Tightened Quarantine Measures,Gov't Extends Tightened Quarantine Measures in...,2020-05-28,2020-06-14

In [14]:
Move_Human = pd.read_csv('/content/drive/MyDrive/aiffeldata/coviddb/SeoulFloating.csv')
Move_Human

               date  hour  birth_year     sex province           city  fp_num
0        2020-01-01     0          20  female    Seoul      Dobong-gu   19140
1        2020-01-01     0          20    male    Seoul      Dobong-gu   19950
2        2020-01-01     0          20  female    Seoul  Dongdaemun-gu   25450
3        2020-01-01     0          20    male    Seoul  Dongdaemun-gu   27050
4        2020-01-01     0          20  female    Seoul     Dongjag-gu   28880
...             ...   ...         ...     ...      ...            ...     ...
1084795  2020-05-31    21          40  female    Seoul      Dobong-gu   27620
1084796  2020-05-31    21          40  female    Seoul      Songpa-gu   56560
1084797  2020-05-31    21          50  female    Seoul    Gangdong-gu   38960
1084798  2020-05-31    22          60  female    Seoul        Guro-gu   25420
1084799  2020-05-31    23          40    male    Seoul   Eunpyeong-gu   38650

[1084800 rows x 7 columns]

In [13]:
covid = pd.read_csv('/content/drive/MyDrive/aiffeldata/coviddb/Case.csv')
covid

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Yongsan-gu,True,Itaewon Clubs,139,37.538621,126.992652
1,1000002,Seoul,Gwanak-gu,True,Richway,119,37.48208,126.901384
2,1000003,Seoul,Guro-gu,True,Guro-gu Call Center,95,37.508163,126.884387
3,1000004,Seoul,Yangcheon-gu,True,Yangcheon Table Tennis Club,43,37.546061,126.874209
4,1000005,Seoul,Dobong-gu,True,Day Care Center,43,37.679422,127.044374
...,...,...,...,...,...,...,...,...
169,6100012,Gyeongsangnam-do,-,False,etc,20,-,-
170,7000001,Jeju-do,-,False,overseas inflow,14,-,-
171,7000002,Jeju-do,-,False,contact with patient,0,-,-
172,7000003,Jeju-do,-,False,etc,4,-,-
173,7000004,Jeju-do,from other city,True,Itaewon Clubs,1,-,-

In [15]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0    case_id        174 non-null    int64
 1   province        174 non-null    object
 2   city            174 non-null    object
 3   group           174 non-null    bool
 4   infection_case  174 non-null    object
 5   confirmed       174 non-null    int64
 6   latitude        174 non-null    object
 7   longitude       174 non-null    object
dtypes: bool(1), int64(2), object(5)
memory usage: 9.8+ KB

이렇게 뽑아보기 했지만 어떻게 연결시켜서 시각화할 것인지 고민이다.